.search-container {
  position: relative;
  width: 332px;
  align-items: center;
}
.input1 {
  height: 56px;

  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  padding: 16px;
  gap: 8px;
}
.search-container input {
  width: 100%;
  padding-left: 48px;
}

.search-container .search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.header {
  height: 88px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.icons3 {
  display: flex;
  gap: 24px;
}
.li4 {
  gap: 52px;
  display: flex;
  list-style-type: none;
}
ul {
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}

a:hover {
  color: #000000;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: 0%;
  opacity: 1;
}
@media only screen and (min-width: 1160px) {
  .burger {
    display: none;
  }
}
@media only screen and (max-width: 1160px) {
  .burger {
    display: show;
  }
  .lis4,
  .search-container,
  .icons3 {
    display: none;
  }
  .header {
padding-right: 16px;
padding-left: 16px;
  }
  .links,  .discounts,.browse{
    padding-left: 16px;
  }

}

/* start hero */
.hero1 {
  color: #fff;
  /* height: 632px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 188px;
}

.heroo {
  display: flex;
  justify-content: space-between;
}

.shop-now {
  color: #fff;
  width: 191px;
  height: 56px;
  border-radius: 6px;
  gap: 8px;
  border-width: 1px;
  border-color: #fff;
  padding: 16px 56px;
  background-color: #211c24;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.pro-beyond {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0%;
  opacity: 0.4;
}
h1 {
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  letter-spacing: -1%;
}
.pro {
  font-weight: 600;
}
.created-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #909090;
}
.phone {
  height: 632px;
}
.hero {
  background-color: #211c24;
  justify-content: space-between;
  display: flex;
}

@media only screen and (max-width: 1160px) {
  .heroo {
    flex-direction: column;
  }
  .phone {
    display: none;
  }
  .hero1 {
    text-align: center;
    margin: auto;
    padding-bottom: 48px;
    padding-top: 88px;
  }
  .shop-now {
    margin: auto;
  }
  .phone-cut {
    margin: auto;
  }
  h1 {
    font-size: 72px;
  }
  .pro {
    font-weight: 600;
  }
  .created-p {
    font-size: 19px;
  }
}

@media only screen and (min-width: 1160px) {
  .phone-cut {
    display: none;
  }
}

/* arrow start */
.arrows {
  gap: 16px;
  display: flex;
}
.browse-arrows {
  padding-top: 80px;
  margin-bottom: 32px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1120px;
  width: 100%;
  margin: auto;
}
.browse {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1%;
  color: #000000;
}
.cards1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 cards in one row */
  gap: 32px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 1160px) {
  .cards1 {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    margin-left: 16px;

    gap: 16px;
  }
  .cards1 .card {
    width: calc(50vw - 32px);
    object-fit: cover;
  }
}
.card {
  gap: 8px;
  width: 160px;
  height: 128px;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.card img {
  width: 48px;
  height: 48px;
}
/* links start */
.links p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #8b8b8b;
}
.links p:hover {
  text-decoration: underline;
}
.links {
  margin-top: 56px;
  margin-bottom: 32px;
  display: flex;
  gap: 32px;
}
.links p:hover {
  color: #000000;
}
/* cards2 start */
.phone3 {
  width: 160px;
  height: 160px;
}
.cards2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 56px;
}
@media (max-width: 1160px) {
  .cards2 {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
  }
  .cards2 .card2 {
    width: calc(50vw - 32px);
    object-fit: cover;
  }
}
.card2 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  width: 268px;
  height: 432px;
  min-width: 200px;
  border-radius: 9px;
  padding-top: 72px;
  position: relative;
}
.heart {
  position: absolute;
  top: 24px;
  right: 16px;
}
@media (max-width: 1160px) {
  .heart {
    right: 12px;
  }
}
.apple {
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}
.grey {
  background-color: #fafafa;
}
.dollar {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
}
.buy-now {
  margin-top: 8px;

  width: 188px;
  height: 48px;
  border-radius: 8px;
  padding-top: 12px 64px;
  color: #fff;
  background-color: #211c24;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
@media (max-width: 1160px) {
  .card2 {
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    height: 352px;
    min-width: 163.5px;
    border-radius: 9px;
    padding-top: 64px;
  }
  .apple {
    padding-bottom: 8px;
  }
  .grey {
    background-color: #fafafa;
  }
  .dollar {
    padding-bottom: 8px;
  }
  .phone3 {
    width: 104px;
    height: 104px;
  }
  .buy-now {
    margin-top: 0px;

    width: 140px;
    height: 48px;
  }
}

.discounts {
  padding-top: 80px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #000000;
}
/* cards3 start */
.cards3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  grid-template-rows: 1fr;
  margin-bottom: 80px;
}
@media (max-width: 1160px) {
  .cards3 {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 4 rows */
    margin-left: 16px;
  }
  .cards3 .card2 {
    width: calc(50vw - 32px);
    object-fit: cover;
  }
}
.wreli {
  width: 100%;
  position: relative;
}

.wreli img {
  width: 100%;
  height: auto;
  display: block;
}

.in-background {
  top: 159px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big {
  color: #ffffff;
  font-weight: 100;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -1%;
  text-align: center;
}
.sale {
  font-weight: 300;
}
.comodo {
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #787878;
  padding-bottom: 40px;
}
@media (max-width: 1050px) {
  .big {
    font-size: 48px;
  }
  .in-background {
    top: 104px;
  }
}
@media (max-width: 1400px) {
  .wreli img {
    height: 512px;
  }
}
/* footer start */
.footer {
  color: #fff;

  background-color: #000;
}
.futeri {
  padding-top: 160px;
  display: flex;
}
.we p {
  padding-right: 113px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23.87px;
  letter-spacing: 0%;
}
.ps1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 295px;
  padding-right: 32px;
}
.we {
  color: #cfcfcf;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23.87px;
  letter-spacing: 0%;
}
.logo1 {
  width: 65px;
  height: 23px;
}
.ps1 h2,
.ps2 h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}
.ps1 p,
.ps2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #cfcfcf;
}
.ps2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.icons {
  display: flex;
  gap: 36.33px;
  padding-bottom: 104px;
  padding-top: 24px;
}
@media (max-width: 1160px) {
  .futeri {
    padding-top: 48px;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .we p {
    padding-right: 0px;
  }
  .logo1 {
    margin: auto;
  }
  .ps1 {
    padding-right: 0px;
  }
  .icons {
    justify-content: center;
    padding-bottom: 48px;
    gap: 25.67px;
  }
}



.grid-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr; /* Two columns */
  grid-template-rows:1fr 1fr 1fr 1fr ; /* Single row */
  height: 1200px;
  width: 100%;
  gap:3px
}
.small1 {
  background-color: #EDEDED;
  grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end:1 ;
}
.small {
  background-color: #353535;
  grid-row-start: 2;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end:2 ;
}

.tall { 
  background-color: #EDEDED;
    grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end:5 ;
  position: relative;
}

.wide {
  background-color: #fff;
  grid-row-start: 1;
grid-row-end: 1;
grid-column-start: 1;
grid-column-end:3 ;
}
.tall .macbook{
  position: absolute;
  right:0px;
}
.small1 p,.tall p,.wide p,.small p{
  color: #909090;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
}
.wide{
  display: flex;
}
.small1 h2,.tall h2,.wide h2{
  color: #000000;
}

.small,.small1{
  display: flex;
}
.column{
  gap: 8px;
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.wide h2{
  margin-top: 100px;
  font-weight: 500;
  font-size: 49px;
  line-height: 40px;
  letter-spacing: 0%;
}
.tall h2{
  margin-top: 164px;
font-weight: 100;
font-size: 64px;
line-height: 56px;
letter-spacing: 0%;
}
.tall-span{
font-weight: 500;
}
.column1{
  gap: 16px;
}
.small-span{
  font-weight: 500;
}
.small h2, .small1 h2{
  font-weight: 300;
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0%;
}
.small1 h2{
  margin-top: 48px;
}
.small h2{
  margin-top: 64px;
}
.small1{
  gap: 48px;
}
.small{
  gap: 16px;
}
.column2{
  margin-left:56px;
}
.shop-now1{
  background-color: #EDEDED;
  color: #000;
  border: 1px solid #000;
}
@media only screen and (max-width: 1160px) {
.grid-container{
  display: flex;
  flex-direction: column;
}
.no{
  display: none;
}
.item{
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.tall .column, .macb{
  margin: auto;
justify-content: center;
}
.macb{
  right: unset;
  margin: auto;
  justify-content: center;

}

.small1 p,.tall p,.wide p,.small p{
font-size: 16px;
}
.small1 h2,.tall h2,.wide h2{
font-size: 34px;
font-weight: 300px;}

.wide h2,.small h2,.small1 h2,.tall h2{
  margin-top: 24px;
}
.wide ,.small ,.small1 ,.tall {
gap:0px}
br{
  display: none;
}
.column1{
  gap: 8px;
}
.column{
  margin-bottom: 40px;
}
.shop-now1{
  margin-bottom: 40px;
}
}



@media only screen and (min-width: 1160px) {
.on{
  display: none;
}

  }

.yurs{
  width: 192px;
height: 200px;
}
.satv{
  width: 326px;
height: 192px;
/* angle: -180 deg; */
}
.playst{
  width: 200px;
height: 200px;

}
.macb{
  width: 330px;
height: 200px;
}

